<div *ngIf="noLoading">
  <app-info-navbar></app-info-navbar>
  <div class="container mt-3 mb-3">
    <div class="row">
      <div class="col-xs-12 com-sm-12 col-md-12 col-lg-12">
        <div class="card background-profile">
          <div class="card-body">
            <img [src]="profile.avatar" class="avatar-image">
            <div class="name-profile text-center">@{{ profile.nickname }}</div>
          </div>
          <app-navbar></app-navbar>
        </div>
      </div>
      <div class="col-xs-12 com-sm-12 col-md-6 col-lg-6 mt-4">
        <div class="card text-white bg-primary mb-2">
          <h6 class="card-header">
            Desafios disponíveis: {{ challengeProfile.challengesRemaining }}
          </h6>
        </div>
        <div class="card text-white bg-primary" *ngIf="challengeProfile.challengesRemaining > 0 || (challengeProfile.challenge.accept && challengeProfile.challengefinished) || (challengeProfile.challenge.accept && !challengeProfile.challenge.finished)">
          <h6 class="card-header">
            Desafio Atual
          </h6>
          <div class="card-body">
            <div class="card mb-3 text-primary">
              <div class="card-body">
                <h6 *ngIf="challengeProfile.challenge.accept" class="mb-2 text-danger">
                  Tempo para conclusão: {{ calculeFinalizeTime(challengeProfile.challenge.dayChallenge) }}
                </h6>
                <img [src]="challengeProfile.challenge.challenge.image" class="avatar-challenge float-left mr-3">
                <h6 class="card-title">
                  {{ challengeProfile.challenge.challenge.name }}
                </h6>
                <p class="card-text text-justify">{{ challengeProfile.challenge.challenge.description }}</p>
                <div *ngIf="!challengeProfile.challenge.accept">
                  <button type="button" class="btn btn-primary btn-sm mr-1" (click)="accept(challengeProfile.challenge.id)">Aceitar</button>
                  <button type="button" class="btn btn-default btn-sm" (click)="reject(challengeProfile.challenge.id)">Rejeitar</button>
                </div>
                <div *ngIf="challengeProfile.challenge.accept">
                  <div class="card">
                    <div class="card-body">
                      <h6>Finalizar desafio</h6>
                      <hr>
                      <form #f="ngForm" (submit)="f.form.valid && finalize(challengeProfile.challenge.id)" novalidate>
                        <div class="form-group">
                          <label>Feedback</label>
                          <textarea class="form-control experience" rows="5" maxlength="255" [(ngModel)]="challengeFinalize.feedback" name="feedback"
                            placeholder="Descreva o feedback do seu desafio." required></textarea>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input" type="checkbox" [(ngModel)]="challengeFinalize.completed" name="completed">
                          <label class="form-check-label">Concluído</label>
                        </div>
                        <button type="submit" [disabled]="!f.form.valid" class="btn btn-primary float-right">
                          Finalizar
                        </button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 com-sm-12 col-md-6 col-lg-6 mt-4">
        <div class="card text-white bg-primary">
          <h6 class="card-header">
            Desafios do dia
          </h6>
          <div class="card-body">
            <div class="card mb-3 text-primary" *ngFor="let challenge of challengeProfile.challengesForDay">
              <div class="card-body">
                <div *ngIf="" class="float-right badge badge-success">ex</div>
                <img [src]="challenge.challenge.image" class="avatar-challenge float-left mr-3">
                <h6 class="card-title">
                  {{ challenge.challenge.name }}
                </h6>
                <p class="card-text text-justify">{{ challenge.challenge.description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>