<div *ngIf="noLoading">
  <app-info-navbar></app-info-navbar>
  <div class="container mt-4 mb-4">
    <div class="row">
      <div class="col-xs-12 com-sm-12 col-md-12 col-lg-12">
        <div class="card background-profile">
          <div class="card-body">
            <img [src]="profile.avatar" class="avatar-image">
            <div class="name-profile text-center">@{{ profile.nickname }}</div>
          </div>
          <app-navbar></app-navbar>
        </div>
      </div>
      <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 mt-3">
        <div class="card">
          <div class="card-body">
            <h6>
              <i class="fa fa-search"></i>
              Pesquisar usuários
            </h6>
            <div class="form-group">
              <input type="text" class="form-control" [(ngModel)]="filter" placeholder="Informe o nome do usuário a ser pesquisado...">
            </div>
          </div>
        </div>
      </div>
      <div class="col-xs-12 col-xs-12 col-md-12 col-lg-12 mt-2">
        <div class="card">
          <div class="card-body" *ngIf="users.length > 0">
            <div class="row">
              <div class="col-xs-12 col-xs-6 col-md-4 col-lg-3 mt-5" *ngFor="let user of users | filterBy: ['user.name', 'user.lastName']: filter">
                <div class="card">
                  <img class="card-img-top" [src]="user.user.avatar">
                  <div class="card-body p-2">
                    <h6 class="card-title mb-1">{{ user.user.name }} {{ user.user.lastName }}</h6>
                    <div>@{{ user.user.nickname }}</div>
                  </div>
                  <div class="card-body p-1">
                    <button type="button" class="btn btn-block btn-primary" (click)="invite(user.user.id)">Adicionar amigo</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body text-primary" *ngIf="users.length === 0">
            Todos os usuário já são seus amigos ou estão em pendências de convite.
          </div>
        </div>
      </div>
    </div>
  </div>